USE [master]
GO
/****** Object:  Database [Grupo05_DDA_PAF]    Script Date: 10/12/2025 04:24:45 ******/
CREATE DATABASE [Grupo05_DDA_PAF]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Grupo05_DDA_PAF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Grupo05_DDA_PAF]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 10/12/2025 04:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre_completo] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[telefono] [varchar](15) NULL,
	[direccion] [varchar](255) NULL,
	[fecha_nacimiento] [varchar](50) NULL,
	[codigo_referido] [varchar](20) NULL,
	[referido_por] [varchar](20) NULL,
	[fecha_registro] [datetime] NULL,
	[apto_promociones] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 10/12/2025 04:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[tipo] [varchar](50) NULL,
	[imagen_url] [varchar](max) NULL,
	[stock] [int] NULL,
	[disponible] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 10/12/2025 04:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[fecha_recepcion] [datetime] NULL,
	[fecha_entrega_estimada] [datetime] NULL,
	[estado] [varchar](50) NULL,
	[monto_total] [decimal](10, 2) NULL,
	[monto_pagado] [decimal](10, 2) NULL,
	[estado_pago] [varchar](50) NULL,
	[notas_adicionales] [varchar](max) NULL,
	[empleado_receptor] [varchar](100) NULL,
	[fecha_actualizacion] [datetime] NULL,
	[id_empleado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Pedido]    Script Date: 10/12/2025 04:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Pedido](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido] [int] NOT NULL,
	[id_servicio] [int] NULL,
	[cantidad] [int] NULL,
	[subtotal] [decimal](10, 2) NULL,
	[fecha_programada_recojo] [date] NULL,
	[producto_entregado] [bit] NULL,
	[id_producto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_Reporte_General]    Script Date: 10/12/2025 04:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Procedimiento para Reporte General (Opcional pero recomendado)
CREATE VIEW [dbo].[Vista_Reporte_General] AS
SELECT 
    P.id_pedido, C.nombre_completo AS Cliente, P.fecha_recepcion, 
    P.monto_total, P.estado, S.nombre AS Servicio
FROM Pedidos P
INNER JOIN Clientes C ON P.id_cliente = C.id_cliente
INNER JOIN Detalle_Pedido DP ON P.id_pedido = DP.id_pedido
INNER JOIN Servicios S ON DP.id_servicio = S.id_servicio;
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 10/12/2025 04:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[id_cita] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[fecha_hora_programada] [datetime] NOT NULL,
	[modalidad] [varchar](50) NULL,
	[direccion_recojo] [varchar](255) NULL,
	[estado] [varchar](50) NULL,
	[fecha_solicitud] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 10/12/2025 04:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[codigo_empleado] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[nombre_completo] [varchar](100) NOT NULL,
	[rol] [varchar](20) NULL,
	[estado] [bit] NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 10/12/2025 04:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_empleado] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[metodo_pago] [varchar](50) NOT NULL,
	[fecha_pago] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 10/12/2025 04:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[stock] [int] NULL,
	[imagen_url] [varchar](max) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Citas] ON 

INSERT [dbo].[Citas] ([id_cita], [id_cliente], [fecha_hora_programada], [modalidad], [direccion_recojo], [estado], [fecha_solicitud]) VALUES (1, 2, CAST(N'2025-12-08T15:00:00.000' AS DateTime), N'Tienda', N'En Tienda', N'Pendiente', CAST(N'2025-12-08T20:08:18.677' AS DateTime))
INSERT [dbo].[Citas] ([id_cita], [id_cliente], [fecha_hora_programada], [modalidad], [direccion_recojo], [estado], [fecha_solicitud]) VALUES (3, 4, CAST(N'2025-12-10T15:00:00.000' AS DateTime), N'Delivery', N'jr hola 208', N'Pendiente', CAST(N'2025-12-08T20:59:04.563' AS DateTime))
INSERT [dbo].[Citas] ([id_cita], [id_cliente], [fecha_hora_programada], [modalidad], [direccion_recojo], [estado], [fecha_solicitud]) VALUES (4, 5, CAST(N'2025-12-11T11:00:00.000' AS DateTime), N'Delivery', N'jr quehace 208', N'Pendiente', CAST(N'2025-12-08T21:05:30.910' AS DateTime))
SET IDENTITY_INSERT [dbo].[Citas] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([id_cliente], [nombre_completo], [email], [password], [telefono], [direccion], [fecha_nacimiento], [codigo_referido], [referido_por], [fecha_registro], [apto_promociones]) VALUES (1, N'Cliente Prueba', N'cliente@prueba.com', N'123456', N'999888777', NULL, NULL, N'CLIENTE2025', NULL, CAST(N'2025-12-08T02:58:02.683' AS DateTime), 0)
INSERT [dbo].[Clientes] ([id_cliente], [nombre_completo], [email], [password], [telefono], [direccion], [fecha_nacimiento], [codigo_referido], [referido_por], [fecha_registro], [apto_promociones]) VALUES (2, N'Juan Perez', N'invitado_1765242498591@ws.com', N'123456', N'904679044', NULL, NULL, NULL, NULL, CAST(N'2025-12-08T20:08:18.603' AS DateTime), NULL)
INSERT [dbo].[Clientes] ([id_cliente], [nombre_completo], [email], [password], [telefono], [direccion], [fecha_nacimiento], [codigo_referido], [referido_por], [fecha_registro], [apto_promociones]) VALUES (4, N'Alonso Manrique', N'Sin Email', N'Sin Contraseña', N'987654321', N'jr hola 208', NULL, N'Sin Codigo', N'Sin referencia', CAST(N'2025-12-08T20:59:04.527' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Pedido] ON 

INSERT [dbo].[Detalle_Pedido] ([id_detalle], [id_pedido], [id_servicio], [cantidad], [subtotal], [fecha_programada_recojo], [producto_entregado], [id_producto]) VALUES (1, 1, 2, 2, CAST(50.00 AS Decimal(10, 2)), NULL, NULL, NULL)
INSERT [dbo].[Detalle_Pedido] ([id_detalle], [id_pedido], [id_servicio], [cantidad], [subtotal], [fecha_programada_recojo], [producto_entregado], [id_producto]) VALUES (2, 2, 2, 1, CAST(25.00 AS Decimal(10, 2)), NULL, NULL, NULL)
INSERT [dbo].[Detalle_Pedido] ([id_detalle], [id_pedido], [id_servicio], [cantidad], [subtotal], [fecha_programada_recojo], [producto_entregado], [id_producto]) VALUES (4, 4, 3, 2, CAST(80.00 AS Decimal(10, 2)), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Detalle_Pedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([id_usuario], [codigo_empleado], [password], [nombre_completo], [rol], [estado], [fecha_creacion]) VALUES (1, N'diegobarturen', N'diego123', N'Diego Barturen', N'admin', 1, CAST(N'2025-12-08T02:58:02.660' AS DateTime))
INSERT [dbo].[Empleados] ([id_usuario], [codigo_empleado], [password], [nombre_completo], [rol], [estado], [fecha_creacion]) VALUES (2, N'abrilbardales', N'abril123', N'Abril Bardales', N'admin', 1, CAST(N'2025-12-08T02:58:02.660' AS DateTime))
INSERT [dbo].[Empleados] ([id_usuario], [codigo_empleado], [password], [nombre_completo], [rol], [estado], [fecha_creacion]) VALUES (3, N'raizaarce', N'raiza123', N'Raiza Arce', N'admin', 1, CAST(N'2025-12-08T02:58:02.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Pagos] ON 

INSERT [dbo].[Pagos] ([id_pago], [id_pedido], [id_cliente], [id_empleado], [monto], [metodo_pago], [fecha_pago]) VALUES (1, 17, 10, 2, CAST(50.00 AS Decimal(10, 2)), N'Efectivo', CAST(N'2025-12-09T03:55:42.527' AS DateTime))
INSERT [dbo].[Pagos] ([id_pago], [id_pedido], [id_cliente], [id_empleado], [monto], [metodo_pago], [fecha_pago]) VALUES (2, 18, 11, 2, CAST(50.00 AS Decimal(10, 2)), N'Contraentrega', CAST(N'2025-12-09T04:23:29.803' AS DateTime))
INSERT [dbo].[Pagos] ([id_pago], [id_pedido], [id_cliente], [id_empleado], [monto], [metodo_pago], [fecha_pago]) VALUES (3, 20, 13, 2, CAST(30.00 AS Decimal(10, 2)), N'Contraentrega', CAST(N'2025-12-09T04:40:04.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([id_pedido], [id_cliente], [fecha_recepcion], [fecha_entrega_estimada], [estado], [monto_total], [monto_pagado], [estado_pago], [notas_adicionales], [empleado_receptor], [fecha_actualizacion], [id_empleado]) VALUES (1, 1, CAST(N'2025-12-08T02:58:02.690' AS DateTime), CAST(N'2025-12-10T02:58:02.690' AS DateTime), N'Entregado', CAST(50.00 AS Decimal(10, 2)), CAST(25.00 AS Decimal(10, 2)), N'Parcial', N'Cliente solicitó cuidado con los pasadores originales.', NULL, CAST(N'2025-12-09T03:11:52.203' AS DateTime), 1)
INSERT [dbo].[Pedidos] ([id_pedido], [id_cliente], [fecha_recepcion], [fecha_entrega_estimada], [estado], [monto_total], [monto_pagado], [estado_pago], [notas_adicionales], [empleado_receptor], [fecha_actualizacion], [id_empleado]) VALUES (2, 2, CAST(N'2025-12-08T20:08:18.620' AS DateTime), NULL, N'Entregado', CAST(25.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'Pendiente', N'Generado por Admin', NULL, CAST(N'2025-12-09T03:12:00.150' AS DateTime), 1)
INSERT [dbo].[Pedidos] ([id_pedido], [id_cliente], [fecha_recepcion], [fecha_entrega_estimada], [estado], [monto_total], [monto_pagado], [estado_pago], [notas_adicionales], [empleado_receptor], [fecha_actualizacion], [id_empleado]) VALUES (4, 4, CAST(N'2025-12-08T20:59:04.537' AS DateTime), NULL, N'Entregado', CAST(80.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'Pendiente', N'Generado por Admin', NULL, CAST(N'2025-12-10T02:55:57.347' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([id_producto], [nombre], [descripcion], [precio], [stock], [imagen_url], [estado]) VALUES (1, N'cola rapida', N'cola que pega ', CAST(15.00 AS Decimal(10, 2)), 2, N'uploads/WIN_20241117_20_29_20_Pro.jpg', 0)
INSERT [dbo].[Productos] ([id_producto], [nombre], [descripcion], [precio], [stock], [imagen_url], [estado]) VALUES (2, N'hola que sarse', N'hola que hace', CAST(20.00 AS Decimal(10, 2)), 2, N'uploads/WIN_20231118_17_56_19_Pro.jpg', 0)
INSERT [dbo].[Productos] ([id_producto], [nombre], [descripcion], [precio], [stock], [imagen_url], [estado]) VALUES (3, N'meno', N'nito', CAST(10.00 AS Decimal(10, 2)), 3, N'uploads/WIN_20241117_20_29_22_Pro.jpg', 0)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicios] ON 

INSERT [dbo].[Servicios] ([id_servicio], [nombre], [descripcion], [precio], [tipo], [imagen_url], [stock], [disponible]) VALUES (1, N'Lavado Simple', N'Limpieza superficial y suela', CAST(15.00 AS Decimal(10, 2)), N'Lavado', NULL, NULL, NULL)
INSERT [dbo].[Servicios] ([id_servicio], [nombre], [descripcion], [precio], [tipo], [imagen_url], [stock], [disponible]) VALUES (2, N'Lavado Premium', N'Limpieza profunda, interiores y pasadores', CAST(25.00 AS Decimal(10, 2)), N'Lavado', NULL, NULL, NULL)
INSERT [dbo].[Servicios] ([id_servicio], [nombre], [descripcion], [precio], [tipo], [imagen_url], [stock], [disponible]) VALUES (3, N'Restauración Completa', N'Pintado, pegado y renovación total', CAST(40.00 AS Decimal(10, 2)), N'Lavado', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Servicios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__CDEF1DDF818A4186]    Script Date: 10/12/2025 04:24:45 ******/
ALTER TABLE [dbo].[Empleados] ADD UNIQUE NONCLUSTERED 
(
	[codigo_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT (getdate()) FOR [fecha_solicitud]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [apto_promociones]
GO
ALTER TABLE [dbo].[Detalle_Pedido] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[Detalle_Pedido] ADD  DEFAULT ((0)) FOR [producto_entregado]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ('admin') FOR [rol]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (getdate()) FOR [fecha_recepcion]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ('Recibido') FOR [estado]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((0.00)) FOR [monto_total]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((0.00)) FOR [monto_pagado]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ('Pendiente') FOR [estado_pago]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ('https://via.placeholder.com/150') FOR [imagen_url]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((100)) FOR [stock]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((1)) FOR [disponible]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Detalle_Pedido]  WITH CHECK ADD FOREIGN KEY([id_pedido])
REFERENCES [dbo].[Pedidos] ([id_pedido])
GO
ALTER TABLE [dbo].[Detalle_Pedido]  WITH CHECK ADD FOREIGN KEY([id_servicio])
REFERENCES [dbo].[Servicios] ([id_servicio])
GO
ALTER TABLE [dbo].[Detalle_Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id_producto])
GO
ALTER TABLE [dbo].[Detalle_Pedido] CHECK CONSTRAINT [FK_Detalle_Producto]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([id_pedido])
REFERENCES [dbo].[Pedidos] ([id_pedido])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Empleado] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleados] ([id_usuario])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedido_Empleado]
GO
USE [master]
GO
